// Import Fonts //
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;800&family=Open+Sans:wght@400;500;600;700;900&family=Poppins:wght@400;500;600;700&display=swap');
//

// :root //
$background: #141824;
$borderb: #293149;
$darkgray: #202227;
$turquoise: #0bc0ee;
$beige: #8a93af;
$darkWhite: #0bc0ee;

// Font Family
$ff-open: 'Open Sans',
sans-serif;
$ff-inconsolata: 'Inconsolata',
monospace;
$ff-poppins:'Poppins',
sans-serif;

//Font-Weight
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-800: 800;

//Font-Size
$fz-xxs: 12px;
$fz-xs: 13px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;
$fz-xxl: 22px;
$fz-xxxl: 24px;
$fz-xxxxl: 26px;
$fz-heading: 32px;
//

// ScrollBar
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #0bc0ee;
    border: 0px none #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background: #0bc0ee;
}

::-webkit-scrollbar-thumb:active {
    background: #141824;
}

::-webkit-scrollbar-track {
    background: #141824;
}

::-webkit-scrollbar-track:hover {
    background: #141824;
}

::-webkit-scrollbar-track:active {
    background: #0bc0ee;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    background-color: $background;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

button {
    background-color: $background;
    color: $borderb;
}

section {
    margin-top: 5rem !important;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: 0.5s ease-in-out;
    transition-delay: 0 !important;
}

// Dark Mode //
.mode-light {
    filter: invert(1) hue-rotate(215deg);

    img {
        filter: invert(1) hue-rotate(-215deg);
    }

    .fullwidth__img {
        opacity: 0.3;
    }
}

.inverted {
    filter: none;
}

.mode-toggle {
    position: fixed;
    right: 50px;
    top: 40vh;
    writing-mode: vertical-rl;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    padding: 5px 5px;
    border-radius: 50px;
    border: 1px solid darken($beige, 10%);
    z-index: 2;

    .mode {
        position: relative;
        line-height: 0;
        cursor: pointer;

        svg {
            width: 30px;
        }

        &.mode-light,
        &.mode-auto,
        &.mode-dark {
            .mode-icon {
                display: inline-block;

                svg * {
                    fill: $beige;
                    transition: all .2s ease-in;
                }
            }

            .mode-input:checked+.mode-icon svg * {
                fill: $turquoise;
            }
        }
    }

    .mode-input {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }
}

.small__heading {
    color: #8a93af;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin: 10px 0 10px 0;
    letter-spacing: 1px;
    font-size: clamp(16px, 1.5vw, 16px);
    line-height: 1.3;
    pointer-events: none;
}

.intro__name {
    color: $turquoise;
    letter-spacing: 1px;
    pointer-events: none;

    span {
        font-family: $ff-open;
        font-size: clamp(16px, 5.8vw, 70px);
        line-height: 1.3;
        letter-spacing: 1px;
        font-weight: 900;
    }
}

.big__heading {
    color: $beige;
    background-image: url(https://cdn.pixabay.com/photo/2016/04/11/11/33/watercolour-1321802_960_720.jpg);
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    mix-blend-mode: luminosity;
    filter: grayscale(100%);
    pointer-events: none;
}

h3 {
    font-family: $ff-inconsolata;
    font-weight: 400;
    line-height: 1.3;
    font-size: clamp(40px, 6vw, 70px);
}

h2 {
    color: $beige;
    font-family: $ff-open;
    font-size: clamp(16px, 5.8vw, 70px);
    line-height: 1.3;
    letter-spacing: 1px;
    font-weight: 900;
    opacity: 0.8 !important;
}


span {
    max-width: 700px;
    color: $beige;
    font-family: $ff-poppins;
    font-size: $fz-sm;
    margin: 10px 0 10px 0;
    letter-spacing: 1px;
    font-size: clamp(14px, 1.5vw, 14px);
    line-height: 1.5;
    pointer-events: none;
}

.cursor-follower {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 1s cubic-bezier(0.02, 1.2, 0.8, 1), opacity 0.25s ease;
    opacity: 0.5;
    border: 2px solid #0bc0ee;
    pointer-events: none;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s linear;
    transform-origin: 100% 100%;
    transition-property: background, transform, transition;
    pointer-events: none;
    z-index: 1;

    @media (max-width: 1199px) {
        .cursor-follower {
            display: none;
        }
    }
}

.link-grow {
    transform: scale(2);
    background-color: transparent;
    border: 1px solid #0bc1ee;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.fullwidth__img {
    position: absolute;
    background-image: url('https://images.unsplash.com/photo-1606054512716-fb198b6686c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80');
    left: 0;
    right: 0;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    opacity: 0.2;
    z-index: -9999;
}

// .fullwidth__img:hover {
//     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
// }

.intro__fullwidth {
    height: 100vh;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

#container>* {
    position: relative;
}

.container {
    display: flex;
    max-width: 1600px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    height: auto;
    transform: translateZ(50px);
    z-index: 1;
}

.page__wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    max-height: 100%;
    transform: opacity 0;
}

.arrowdown {
    cursor: pointer;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    animation: mouse-anim 1s ease-out 0s infinite;
}

.sub__title {
    color: $turquoise;
    font-size: $fz-sm;
    padding-bottom: 200px;
}

.exp__txt {
    margin-top: 15px;
    max-width: 700px;
}

.questions {
    color: $beige;
    font-family: $ff-open;
    letter-spacing: 1px;
    margin-top: 15px;
}

.contact {
    cursor: pointer;
    padding: 0.75rem 1.25rem;
    font-size: $fz-sm;
    background: none;
    border: 1px solid $turquoise;
    border-radius: 4px;
    color: $turquoise;
    transition: 0.3s all ease-in-out;
    letter-spacing: 1px;
    margin-top: 20px;

    a {
        color: $turquoise;
        font-family: $ff-inconsolata;
        letter-spacing: 1px;
    }

    &:hover {
        background-color: #0bc1ee1a;
        transform: translateY(-3px);
        color: $turquoise;
    }
}

nav {
    justify-content: space-between;
    align-items: center;

    .container-nav {
        max-width: 1630px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        padding: 50px 30px;
        z-index: 1;
    }

    .logo {
        width: 50px;
        height: 50px;
        z-index: 2;
    }

    ol {
        display: flex;
        counter-increment: item 0;
        list-style: none;
        margin-left: auto;
        height: 40px;
        align-items: center;
    }

    li {
        margin: 0 23px;
        counter-increment: item 1;


        &::before {
            content: "0", counter(item) ".";
            color: $beige;
            font-size: $fz-sm;
            text-align: right;
            margin-right: 2px;
            transition: 0.3s all ease;
        }

        &:hover::before {
            color: $turquoise;
        }
    }

    a {
        color: $turquoise;
        font-family: $ff-inconsolata;
        font-weight: $fw-600;
        font-size: $fz-sm;
        cursor: pointer;
        transition: 0.3s all ease;
        z-index: 2;


        &:hover {
            color: $beige;
        }
    }

    .resume__btn {
        cursor: pointer;
        padding: 0.75rem 1.25rem;
        margin-left: 10px;
        font-size: $fz-sm;
        background: none;
        border: 1px solid $turquoise;
        border-radius: 4px;
        color: $turquoise;
        transition: 0.3s all ease-in-out;
        letter-spacing: 1px;


        &:hover {
            background-color: #0bc1ee1a;
            transform: translateY(-3px);
            color: $turquoise;
        }
    }
}

.social__links {
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 50px;
    right: auto;
    z-index: 2;

    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    svg {
        width: 20px;
        height: 20px;
        transition: 0.3s all;

        &:hover {
            color: $turquoise;
            transform: translateY(-3px);
        }
    }

    a {
        margin: 0px auto 20px auto;
        color: $beige;
        font-family: $ff-inconsolata;
        font-size: $fz-md;
        font-weight: $fw-400;
        letter-spacing: 0.5px;
    }

    &::after {
        content: "";
        display: block;
        width: 1px;
        height: 60px;
        margin: 0px auto;
        background-color: $beige;
        opacity: 0.5;
    }
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    writing-mode: vertical-rl;
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 50px;
    z-index: 2;


    a {
        margin: 20px auto;
        color: $beige;
        font-family: $ff-inconsolata;
        font-size: $fz-md;
        font-weight: $fw-400;
        letter-spacing: 0.5px;
        transition: 0.3s all;

        &:hover {
            color: $turquoise;
            transform: translateY(-3px);
        }
    }

    &::after {
        content: "";
        display: block;
        width: 1px;
        height: 60px;
        margin: 0px auto;
        background-color: $beige;
        opacity: 0.5;
    }
}

// Contact Section //

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: $beige;
    font-size: $fz-sm;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: $turquoise;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: $beige;
    font-size: $fz-sm;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: $beige;
}

input::placeholder,
textarea::placeholder {
    color: $beige;
    font-size: $fz-sm;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color: $beige;

}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: $beige;
    font-size: $fz-sm;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: $beige;
}

input[type=text] {
    border: none;
}

input[type=text]:focus {
    border-bottom: 1px solid $beige !important;
    color: $turquoise;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    font-size: $fz-sm;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    font-size: $fz-sm;
}

input:hover::placeholder,
textarea:hover::placeholder {
    font-size: $fz-sm;
}


input:hover::placeholder,
textarea:hover::placeholder {
    font-size: $fz-sm;
}

.scrollable {
    scroll-behavior: smooth;
    height: calc(100% - 150px);
    width: 100%;
    margin-top: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container-contact {
    scroll-behavior: smooth;
    display: flex;
    max-width: 1330px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    transform: translateZ(50px);
    z-index: 1;
    margin-top: 4em;
    padding: 0 30px;

    h1 {
        font-family: $ff-poppins;
        font-size: $fz-xxxl;
        color: $turquoise;
    }
}

.contact__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto 20px auto;
    border: 1px solid $borderb;
    padding: 0 40px;
}

.about__container {
    display: flex;
    max-width: 1330px;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 30px;

    img {
        float: left;
        width: 200px;
        border: 5px solid $borderb;
        border-radius: 10px;
    }

    h1 {
        font-family: $ff-poppins;
        font-size: $fz-xxxl;
        color: $turquoise;
    }
}

.skills__container {
    display: flex;
    max-width: 1330px;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 30px;

    h1 {
        font-family: $ff-poppins;
        font-size: $fz-xxxl;
        color: $turquoise;
    }
}

.skills__wrapper {
    width: 100%;
    margin: 20px auto 20px auto;
    border: 1px solid $borderb;
    padding: 40px 40px;

    p {
        margin-left: 220px;
        color: $beige;
        font-family: $ff-poppins;
        letter-spacing: 1px;
        font-size: clamp(14px, 1.5vw, 14px);
        line-height: 1.5;
        pointer-events: none;

        @media screen and (max-width: 768px) {
            text-align: center;
            margin-top: 30px;
            margin-left: 0px;
        }
    }

    @media screen and (max-width: 768px) {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
}

.resume__container {
    margin-top: 40px;

    @media screen and (max-width: 1200px) {
        margin-top: 50px;
        margin-right: auto;
    }

    @media screen and (max-width: 968px) {
        margin-top: 90px;
        margin-left: 0px;
        margin-right: auto;
    }

    @media screen and (max-width: 768px) {
        margin: 60px auto 20px auto;
    }

    @media screen and (max-width: 450px) {
        margin-top: 80px;
    }
}

.about__wrapper {
    width: 100%;
    margin: 20px auto 20px auto;
    border: 1px solid $borderb;
    padding: 40px 40px;

    p {
        margin-left: 220px;
        color: $beige;
        font-family: $ff-poppins;
        letter-spacing: 1px;
        font-size: clamp(14px, 1.5vw, 14px);
        line-height: 1.5;
        pointer-events: none;

        @media screen and (max-width: 768px) {
            text-align: center;
            margin-top: 30px;
            margin-left: 0px;
        }
    }

    @media screen and (max-width: 768px) {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
}

.info__list {
    margin-top: 20px;
    margin-left: 200px;
    color: #8a93af;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-size: clamp(14px, 1.5vw, 14px);
    line-height: 1.5;
    pointer-events: none;
}

ul {
    display: flex;
    list-style: none;
    height: 40px;
    align-items: center;
    color: $beige;
    font-family: $ff-poppins;
    font-size: $fz-xs;
    margin: 10px 0 10px 20px;
    letter-spacing: 1px;
    line-height: 1.8;
    pointer-events: none;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 1200px) {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: -200px;
    }
}

.download__resume {
    margin-left: 220px;
    padding: 10px 40px;
    max-width: 270px;
    margin-top: 25px;
    text-align: center;

    font-family: $ff-poppins;
    font-size: $fz-sm;
    letter-spacing: 1px;
    color: $beige;

    outline: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;

    border: 2px solid $borderb !important;

    &:hover {
        background-color: #0bc1ee1a;
        transform: translateY(-3px);
        color: $turquoise;
        border: 2px solid $beige !important;
    }

    @media screen and (max-width: 768px) {
        margin-top: 60px;
        margin-left: 0px !important;

    }

    @media screen and (max-width: 1200px) {
        margin-top: 80px;
    }

    @media screen and (max-width: 968px) {
        margin-left: 220px;
    }
}

.about__wrapper__txt {
    margin-left: 30px;
}

#cform {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 50px 0px;
}

input {
    font-family: $ff-poppins;
    font-size: $fz-sm;
    font-size: 0.875em;
    width: 100%;
    height: 50px;
    padding: 0px 15px 0px 0px;
    margin-top: 20px;
    background: transparent;
    outline: none;
    color: $beige;
    letter-spacing: 1px;
    border-bottom: 1px solid $borderb !important;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    color: $turquoise;
}

input[type=textarea] {
    border: none;
    outline: none;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    height: 150px;
    max-height: 200px;
    padding: 15px 0;
    margin-top: 20px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid $borderb !important;
    letter-spacing: 1px;

    color: $beige;
    font-family: $ff-poppins;
    font-size: $fz-sm;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    color: $turquoise;
}

textarea:focus {
    border-bottom: 1px solid $beige !important;
}

#submit {
    max-width: 270px;
    margin-top: 40px;
    padding: 0;

    font-family: $ff-poppins;
    font-size: $fz-sm;
    letter-spacing: 1px;
    color: $beige;

    outline: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;

    border: 2px solid $borderb !important;

    &:hover {
        background-color: #0bc1ee1a;
        transform: translateY(-3px);
        color: $turquoise;
        border: 2px solid $beige !important;
    }
}

#submit:hover {
    background: #0bc1ee1a;
    color: $turquoise;
}

// Footer //
footer {
    display: flex;
    max-width: 835px;
    justify-content: center;
    margin: 0 auto;
    transform: translateZ(50px);
    z-index: 1;
    padding: 0 40px;
    margin-top: 20px;

    span {
        font-size: $fz-xxs;
    }
}

.footer__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    border: 1px solid $borderb;
    padding: 20px 10px;
}

// Media Queries MIN Width //

@media screen and (min-width: 1200px) {
    .container {
        height: 80vh;
    }
}

@media only screen and (min-height: 200px) and (max-height: 600px) and (orientation: landscape) {
    nav {
        padding-top: 10px;
    }

    .list__items {
        display: none;
    }

    .social__links {
        display: none;
    }

    .email {
        display: none;
    }

    .mode-toggle {
        display: none;
    }

    .container {
        padding-top: 2rem;
        max-width: 500px;
    }

    .arrowdown {
        display: none;
    }

    .big__heading {
        font-size: 32px;
    }

    .small__heading {
        font-size: 14px;
    }

    .intro__name {
        font-size: 32px;
    }

    .exp__txt {
        font-size: 14px;
    }

    .questions {
        font-size: 14px;
    }
}

// Mobile Media Queries //
@media only screen and (min-width: 375px) and (max-width: 767px) {
    .page__wrapper {
        top: -15vh;
    }
}

@media only screen and (min-height: 812px) {
    .page__wrapper {
        min-height: 380px;
    }
}

// Media Queries MAX Width //

@media screen and (max-width: 1500px) {

    .container-contact,
    .container-skills,
    .about__container {
        padding: 0 100px;
    }
}

@media screen and (max-width: 1200px) {
    .social__links {
        left: 20px;
        right: auto;
    }

    .email {
        right: 20px;
        left: auto;
    }

    .mode-toggle {
        top: 40vh;
        width: 40px;
        right: 20px;

        .mode {
            svg {
                width: 25px;
            }
        }
    }

    .page__wrapper {
        min-height: 80vh;
    }

    .exp__txt {
        max-width: 600px;
    }

    body {
        cursor: auto;
    }

    footer {
        padding: 0 100px;
        text-align: center;
    }
}

@media screen and (max-width: 720px) {
    nav {
        align-items: center;
        padding: 30px 30px;

        .intro__fullwidth {
            padding: 0;
        }

        .container-nav {
            padding: 0;
        }

        .logo svg {
            width: 40px;
            height: 40px;
        }

        ol a {
            display: none;
        }

        .mode-toggle {
            position: absolute;
            right: 50px;
            top: 40vh;
            margin-left: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 200px;
            padding: 5px 5px;
            border-radius: 50px;
            border: 1px solid darken($beige, 10%);
            z-index: 10;

            &::after {
                display: none;
            }
        }
    }

    .container {
        max-width: 1300px;
        margin: auto;
        padding: 0 30px;
        max-height: 100vh;
    }

    .email {
        display: none;
    }

    .mode-toggle {
        flex-direction: column-reverse;
        width: 80px;
        position: fixed;
        bottom: 10px;
        top: auto;
        right: 20px;
        left: auto;
        z-index: 10;
        padding: 0 5px;
        border: none;

        @keyframes identifier {}

        &::after {
            display: none;
        }
    }

    .social__links {
        display: flex;
        flex-direction: column-reverse;
        left: 20px;

        & svg {
            margin: 0 10px;
        }

        &::after {
            display: none;
        }
    }

    footer {
        padding: 0 30px;
        text-align: center;
    }

    .container-contact,
    .contact__container,
    .container-skills,
    .about__container {
        padding: 0 30px;
    }

    .about__wrapper {
        padding: 40px 20px;
    }

    .download__resume {
        margin-top: 60px;
    }

    #submit {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px auto 0 auto;
    }

}

@media screen and (max-width: 280px) {
    .small__heading {
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }

    .big__heading {
        font-size: 16px;
    }

    span {
        font-size: 12px;
    }

    .page__wrapper {
        top: -15vh;
    }
}

::selection {
    color: $background;
    background-color: #0bc0ee;
}

// Keyframes //
@keyframes mouse-anim {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 10px;
    }

    100% {
        bottom: 0px;
    }
}